# Trygve 
Trygve Eriksen <tryger@stud.ntnu.no> Trygve Eriksen <tryger@stud.ntnu.no>
Trygve Eriksen <tryger@stud.ntnu.no> Trygve Eriksen <tryger@ntnu.no> 
# Adrian
Adrian Haabpiht Solberg <adriahso@stud.ntnu.no> Adrian Haabpiht Solberg <adriahso@stud.ntnu.no>
Adrian Haabpiht Solberg <adriahso@stud.ntnu.no> Adrian Solberg <adrianhsolberg@gmail.com>
# Morten
Morten Madsen Lyngstad <morteml@stud.ntnu.no> Morten M Lyngstad <morteml@stud.ntnu.no>
Morten Madsen Lyngstad <morteml@stud.ntnu.no> Morten Madsen Lyngstad <morten.m.lyngstad@ntnu.no>
# Ola
Ola Berntzen Bismo <olabbi@stud.ntnu.no> Ola Berntzen Bismo <olabbi@stud.ntnu.no>
Ola Berntzen Bismo <olabbi@stud.ntnu.no> olabbi <olabbi@ntnu.no>
