.green_button {
    -fx-background-color: #5bd4a8;
    background-color: #5bd4a8;
}

.green_button:hover {
    -fx-background-color: #4FC297;
    background-color: #4FC297;
}

.green_button:pressed {
    -fx-background-color: #58A583;
    background-color: #58A583;
}
